aside {
  position: fixed;
  height: 100%;
  width: $aside-width;
  top: 0;
  left: 0;
  background-color: $aside-background-color;
}

.row-aside {
  position: relative;
  //padding: 18px 0 13px 20px;
  //height: 60px;
  width: 100%;
  border-left: 4px solid $aside-background-color;
  color: $section-background-color;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: $section-background-color;
    opacity: 0;
  }

  &:hover {
    border-left: 4px solid $brand-main-color;

    &::after {
      opacity: 0.1;   
    }
  }
}