aside {
  position: fixed;
  height: 100%;
  width: $aside-width;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: $aside-background-color;
}

@media(max-width: 768px) {
  aside {
    width: $aside-width-mob;
    left: calc(-100% + 70px);
    &:hover {
      left: 0;
    }
  }
}

.row-aside {
  position: relative;
  width: 100%;
  border-left: 4px solid $aside-background-color;
  color: $section-background-color;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: $section-background-color;
    opacity: 0;
  }

  &:hover {
    border-left: 4px solid $brand-main-color;

    &::after {
      opacity: 0.1;   
    }
  }
}