main {
  margin: $nav-height 0 0 $aside-width;
  height: calc(100% - $nav-height);
  width: calc(100% - $aside-width);
}

.section-main {
  margin: 0 0 3px;
  width: 100%;
  background-color: $section-background-color;
  text-align: center;
  box-shadow: $b-shad-e-one;
}

.section-title {
  margin: 0 0 3px;
  width: 100%;
  background-color: $section-background-color;
  text-align: left;
  box-shadow: $b-shad-e-one;
}