nav {
  position: fixed;
  z-index: 99;
  height: $nav-height;
  width: calc(100% - 270px);
  top: 0;
  right: 0;
  background-color: $section-background-color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.nav-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.nav-element {
  display: flex;
  flex-wrap: nowrap;
  border-left: 1px solid $main-font-color;
  font-family: $brand-font;
  font-size: $nav-font-size;
  color: $main-font-color;
}

.nav-icon {
  position: relative;
  height: $nav-height;
  width: 70px;
  text-align: center;
  line-height: 3;
}

.nav-money {
  height: $nav-height;
  text-align: center;
  line-height: 3;
}

.nav-link {
  margin-right: 25px;
  height: $nav-height;
  text-align: center;
  line-height: 2.8;

  a {
    font-size: $nav-link-font-size;
    color: $aside-background-color;
    text-decoration: none;
  }
}

.point-red {
  &::after {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    top: 22px;
    left: 36px;
    border-radius: 50%;
    background-color: $brand-main-color;
  }
}