*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $main-background-color;
}

/* MARGINS TOP-BOTTOM */

.m-auto {
  margin: 0 auto;
}

.m-tb-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.m-tb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.m-tb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-tb-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* MARGINS LEFT-RIGHT */

.m-lr-100 {
  margin-left: 100px;
  margin-right: 100px;
}

.m-lr-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.m-lr-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.m-lr-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.m-lr-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.m-line {
  margin: 0 0 3px;
}

/* PADDINGS TOP-BOTTOM */

.p-tb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.p-tb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.p-tb-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.p-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* MARGINS LEFT-RIGHT */

.p-lr-200 {
  padding-left: 200px;
  padding-right: 200px;
}

.p-lr-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.p-lr-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.p-lr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-lr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.p-lr-5 {
  padding-left: 5px;
  padding-right: 5px;
}
