*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  height: $nav-height;
  width: calc(100% - 250px);
  top: 0;
  right: 0;
  background-color: $section-background-color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

aside {
  position: fixed;
  height: 100%;
  width: $aside-width;
  top: 0;
  left: 0;
  background-color: $aside-background-color;
}

main {
  margin: $nav-height 0 0 $aside-width;
  height: calc(100% - $nav-height);
  width: calc(100% - $aside-width);
}