/* Colors */
$main-background-color: #ede0d4;
$aside-background-color: #023047;
$section-background-color: white;
$main-font-color: #6b705c;
$aside-font-color: #ede0d4;
$dark-font-color: #03071e;
$brand-main-color: #f77f00;

/* Font sizes */
$title-font-size: 22px;
$subtitle-font-size: 19px;
$paragraph-font-size: 16px;

/* Fonts */
$logo-font: 'Dancing Script', cursive;
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;

/* Transition */
$transition-fast: 0.5s;

/* Border radius */
$border-rad-sm: 3px;
$border-rad-md: 6px;