/* BORDER VARS */

.bor-b {
  border-bottom: 1px solid $main-font-color;
}

.bor-t {
  border-top: 1px solid $main-font-color;
}

.bor-l {
  border-left: 1px solid $main-font-color;
}

.bor-r {
  border-right: 1px solid $main-font-color;
}

/* BORDER ELEMENTS */

.bor-container {
  border: 5px solid darkmagenta;
}

.bor-block-wrapp {
  border: 3px solid blue;
}

.bor-section-wrapp {
  border: 4px solid darkblue;
}

.bor-row {
  border: 3px solid dodgerblue;
}

.bor-col {
  border: 3px solid cyan;
}

.bor-icon {
  border: 2px solid salmon;
}

.bor-link {
  border: 2px solid peru;
}

.bor-list {
  border: 3px solid darkgreen;
}

.bor-li {
  border: 1px solid lightgreen;
}

.bor-logo {
  border: 3px solid hotpink;
}

.bor-l-aside {
  border-left: 3px solid $aside-background-color;
}

.bor-img-wrapper {
  border: 3px solid purple;
}

.bor-img {
  border: 3px solid darkslateblue;
}