.btn {
  display: inline-block;
  box-shadow: $b-shad-e-btn;
  font-family: $brand-font;
  font-weight: 700;
  text-align: center;
  transition: $transition-fast;
  &:hover {
    opacity: 0.8;
    transition: $transition-fast;
  }
}

.btn-sm {
  padding: 5px;
  height: 22px;
  min-width: 22px;
  font-size: $smallest-font-size;
  border-radius: $border-rad-sm;
}

.btn-md {
  padding: 8px;
  height: 30px;
  min-width: 30px;
  font-size: $smaller-font-size;
  border-radius: $border-rad-sm;
}

.btn-big {
  padding: 12px;
  height: 40px;
  min-width: 40px;
  font-size: $paragraph-font-size;
  border-radius: $border-rad-md;
}

.btn-lg {
  padding: 13px;
  height: 48px;
  min-width: 48px;
  font-size: $normal-font-size;
  border-radius: $border-rad-md;
}

.btn-xl {
  padding: 15px;
  height: 60px;
  min-width: 60px;
  font-size: $big-font-size;
  border-radius: $border-rad-lg;
}

.btn-main {
  background-color: $brand-main-color;
  color: $main-background-color;

  &:hover {
    background-color: $main-background-color;
    color: $brand-main-color;
  }
}

.btn-aside {
  background-color: $aside-background-color;
  color: $aside-font-color;

  &:hover {  
    background-color: $aside-font-color;
    color: $aside-background-color;
  }
}