.calendar {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  height: 40px;

  &::after {
    position: absolute;
    content: "";
  }

  input:nth-of-type(1) {
    border: 1px solid $main-background-color;
    border-right: none;

  }

  input:nth-of-type(2) {
    border: 1px solid $main-background-color;
    border-left: none;
  }
}

.calendar-sm {
  height: 25px;
  font-size: $smallest-font-size;

  &::after {
    height: 15px;
    width: 1px;
    top: 5px;
    left: 120px;
    background-color: $main-background-color;
  }

  input:nth-of-type(1) {
    padding-left: 10px;
    padding-right: 5px;
    border-radius: $border-rad-sm 0 0 $border-rad-sm;
    width: 120px;
  }

  input:nth-of-type(2) {
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 0 $border-rad-sm $border-rad-sm 0;
    width: 120px;
  }
}

.calendar-md {
  height: 35px;
  font-size: $smaller-font-size;

  &::after {
    height: 25px;
    width: 1px;
    top: 5px;
    left: 145px;
    background-color: $main-background-color;
  }

  input:nth-of-type(1) {
    padding-left: 15px;
    padding-right: 5px;
    border-radius: $border-rad-sm 0 0 $border-rad-sm;
    width: 145px;
  }

  input:nth-of-type(2) {
    padding-left: 15px;
    padding-right: 5px;
    border-radius: 0 $border-rad-sm $border-rad-sm 0;
    width: 145px;
  }
}

.calendar-big {
  height: 40px;
  font-size: $small-font-size;

  &::after {
    height: 30px;
    width: 1px;
    top: 5px;
    left: 170px;
    background-color: $main-background-color;
  }

  input:nth-of-type(1) {
    padding-left: 15px;
    padding-right: 5px;
    border-radius: $border-rad-sm 0 0 $border-rad-sm;
    width: 170px;
  }

  input:nth-of-type(2) {
    padding-left: 15px;
    padding-right: 5px;
    border-radius: 0 $border-rad-sm $border-rad-sm 0;
    width: 170px;
  }
}

.calendar-lg {
  height: 50px;
  font-size: $normal-up-font-size;

  &::after {
    height: 40px;
    width: 1px;
    top: 5px;
    left: 210px;
    background-color: $main-background-color;
  }

  input:nth-of-type(1) {
    padding-left: 18px;
    padding-right: 5px;
    border-radius: $border-rad-md 0 0 $border-rad-md;
    width: 210px;
  }

  input:nth-of-type(2) {
    padding-left: 18px;
    padding-right: 5px;
    border-radius: 0 $border-rad-md $border-rad-md 0;
    width: 210px;
  }
}

.calendar-xl {
  height: 60px;
  font-size: $big-font-size;

  &::after {
    height: 50px;
    width: 1px;
    top: 5px;
    left: 240px;
    background-color: $main-background-color;
  }

  input:nth-of-type(1) {
    padding-left: 22px;
    padding-right: 5px;
    border-radius: $border-rad-md 0 0 $border-rad-md;
    width: 240px;
  }

  input:nth-of-type(2) {
    padding-left: 22px;
    padding-right: 5px;
    border-radius: 0 $border-rad-md $border-rad-md 0;
    width: 240px;
  }
}