.c-bla {
  color: $black-color !important;
}

.c-whi {
  color: $white-color !important;
}

.c-blue {
  color: mediumblue !important;
}

.c-dar {
  color: $dark-color;
}

.c-lig {
  color: $light-color;
}

.c-aside {
  color: $aside-font-color;
}

.bc-aside {
  color: $aside-background-color;
}

.c-section {
  color: $section-background-color;
}

.c-main {
  color: $main-font-color;
}

.c-brand {
  color: $brand-main-color;
}

.bc-red {
  background: red;
}

.bc-orangered {
  background: orangered;
}

.bc-orange {
  background: orange;
}

.bc-yellow {
  background: yellow;
}

.bc-greenyellow {
  background: greenyellow;
}

.bc-yellowgreen {
  background: yellowgreen;
}

.bc-green {
  background: green;
}
