/* ICONS */
.icon {
  display: inline-block;
  line-height: 1;
  border: 2px solid salmon;
}

.i-big {
  font-size: $big-font-size;
}

.i-md {
  font-size: $normal-font-size;
}

.i-sm {
  font-size: $smaller-font-size;
}