.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border: 3px solid darkgreen;
}

.list-col {
  flex-direction: column;
}

.list-row {
  flex-direction: row;
}

li { 
  display: inline-block;
  border: 1px solid lightgreen;
}
