.logo {
  display: inline-block;
  line-height: 0.8;
  //border: 3px solid hotpink;
}

.logo-font {
  font-size: $aside-logo-font-size;
  font-family: $pacifico-font;//$logo-font;
  color: $main-font-color;
}