.section-main {
  margin: 0 0 2px;
  padding: 20px 10px;
  width: 100%;
  background-color: $section-background-color;
  text-align: center;
}

.section-main-margin {
  padding: 20px 200px;
}

.section-wrapper {
  margin: 10px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  border: 2px dotted blue;
}

.wrapper {
  margin: 20px 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.row-sp-b {
  justify-content: space-between;
}

.row-sp-e {
  justify-content: space-evenly;
}

.row-half {
  width: calc(50% - 30px);
  border-bottom: 1px solid $main-background-color;
}

.row-full {
  width: 100%;
  border-bottom: 1px solid $main-background-color;
}

.icons {
  margin-left: 50px;
}

.diagram {
  margin: 20px 0 10px 0;
  width: 100%;
  border: 1px solid purple;
}