table {
  width: 100%;
  text-align: left;
}

table, th, td {
  font-family: $subtitle-font;
  font-size: $subtitle-font-size;
  border-bottom: 3px solid $main-background-color;
  border-collapse: collapse;
}

tr:not(:first-of-type) {
  &:hover {
    background-color:#f5f5f5;
  }
}

td {
  color: $dark-color;
  padding: 25px 10px;
}


