h1 {
  font-size: $bigger-font-size;
  font-family: $brand-font;
  color: $main-font-color;
  font-weight: 500;
  background: red;
  margin: 0;
}

h2 {
  font-size: $big-font-size;
  font-family: $title-font;
  color: $main-font-color;
  font-weight: 500;
  background: orangered;
  margin: 0;
}

h3 {
  font-size: $title-font-size;
  font-family: $title-font;
  color: $main-font-color;
  font-weight: 500;
  background: orange;
  margin: 0;
}

h4 {
  font-size: $aside-menu-font-size;
  font-family: $brand-font;
  color: $main-font-color;
  font-weight: 500;
  background: yellow;
  margin: 0;
}

h5 {
  font-size: $subtitle-font-size;
  font-family: $subtitle-font;
  color: $main-font-color;
  font-weight: 500;
  background: greenyellow;
  margin: 0;
}

h6 {
  font-size: $small-font-size;
  font-family: $brand-font;
  color: $main-font-color;
  font-weight: 500;
  background: yellowgreen;
  margin: 0;
}

p {
  font-size: $paragraph-font-size;
  font-family: $paragraph-font;
  color: $main-font-color;
  background: green;
  margin: 0;
}

.f-title-font-size {
  font-size: $title-font-size;
}

.f-subtitle-font-size {
  font-size: $subtitle-font-size;
}

.f-paragraph-font-size {
  font-size: $paragraph-font-size;
}

.f-aside-logo-font-size {
  font-size: $aside-logo-font-size
}

.f-aside-menu-font-size {
  font-size: $aside-menu-font-size
}

.f-nav-font-size {
  font-size: $nav-font-size
}

.f-nav-link-font-size {
  font-size: $nav-link-font-size
}

.f-biggest-font-size {
  font-size: $biggest-font-size
}

.f-bigger-font-size {
  font-size: $bigger-font-size
}

.f-big-font-size {
  font-size: $big-font-size
}

.f-normal-up-font-size {
  font-size: $normal-up-font-size
}

.f-normal-font-size {
  font-size: $normal-font-size
}

.f-small-font-size {
  font-size: $small-font-size
}

.f-smaller-font-size {
  font-size: $smaller-font-size
}

.f-smallest-font-size {
  font-size: $smallest-font-size
}